<style type="text/css">
        p {
            color: teal;
            font-family: serif; }
        h1 {
            color: blue;
            font-family: Times New Roman;}
        body {
            background-color: Aqua;
        }
    </style>